.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infobox {
    padding-left: 20px;
}

.nunito-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

body {
    background-color: rgb(29, 29, 29);
}